// COLOR

$PRIMARYCOLOR: rgb(245, 173, 92);
$BLACK: rgb(23, 27, 27);
$GREEN: rgba(158, 173, 141, 1);

// FONTS

$HEADINGSFONT: "Ultra", serif;
$SUBHEADINGSFONT: "Oswald", sans-serif;
$BODYFONT: "DM Sans", sans-serif;
